{% include "src/templates/header.njk" %}

<!--hero-->
<div class="container-fluid vh-100 d-flex justify-content-center align-items-center text-center">

  <div>
    <h2 class="text-primary">Hi Buddies</h2>
    <h1 class="display-4 fw-bold">I am Santhosh Kumar Polisetty</h1>
    <p class="lead">B.Tech CSE | Web Developer</p>

    <a href="services.html" class="btn btn-primary mt-3">My Services</a>
  </div>

</div>

<!-- Skills -->
<div class="container my-5">
  <h2 class="text-center text-primary">My Skills</h2>

  <div class="row mt-4 justify-content-center">

    <div class="col-12 col-md-8 mb-3">
      <div class="card shadow text-center p-3">
        <h5>Java</h5>
        <p>Strong programming knowledge</p>
      </div>
    </div>

    <div class="col-12 col-md-8 mb-3">
      <div class="card shadow text-center p-3">
        <h5>HTML & CSS</h5>
        <p>Responsive web design</p>
      </div>
    </div>

    <div class="col-12 col-md-8 mb-3">
      <div class="card shadow text-center p-3">
        <h5>SQL</h5>
        <p>Database management</p>
      </div>
    </div>

    <div class="col-12 col-md-8 mb-3">
      <div class="card shadow text-center p-3">
        <h5>VS Code</h5>
        <p>Efficient coding</p>
      </div>
    </div>

  </div>
</div>

{% include "src/templates/footer.njk" %}